.rodape{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
}

.botao-flutuante{
    position: relative;
    border: none;
    text-align: right;
    cursor: pointer;
    left: 75vw;
    background: url("../Assets/botao-flutuante.svg");
    width: 90px;
    height: 90px;
    bottom: 3rem;
}

.botao-flutuante:hover{
    opacity: 80%;
}

.lista__footer{
    position: fixed ;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--branco);
    padding: 0.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rodape__lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.lista__item{
    text-align: center;
    margin: 0 1rem;
}

.lista__link{
    text-decoration: none;
    opacity: 60%;
}

.lista__link:hover{
    opacity: 100%;
}

.link__texto, .link__texto-consulta{
    font-size: 12px;
}

.link__texto{
    color: var(--preto-titulos);
}

.link__texto-consulta{
    color: var(--azul-botao);
}

@media screen and (min-width: 768px){
    .lista__footer{
        padding: 0 8rem;
        padding-top: 0.5rem;
    }

    .botao-flutuante{
        left: 85vw;
    }
}

@media screen and (min-width: 1366px){
    .lista__footer{
        padding: 0 20rem;
        padding-top: 0.5rem;
    }

    .botao-flutuante{
        left: 90vw;
    }
}